@use '../abstracts/variables.scss'as *;
@use '../abstracts/functions.scss'as *;
@use '../abstracts/mixins.scss'as *;
@use '../base/typography.scss'as *;

body {
  background-color: $bg-light;
}

.welcome {
  grid-area: head;
  display: flex;

  .congrats-container {
    width: 80%;
    display: flex;
    justify-content: flex-end;

    .congrats-container-ct {
      height: 100%;
      width: 75%;
      display: flex;
      align-items: center;

      .cg-img-ct {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;

        img {
          width: 90%;
        }
      }

      h4 {
        font-family: $markScript;
        padding: .4rem;
      }

      .welcomemess {
        font-family: $primaryFont;
        color: $dark;
        font-weight: 500;
      }
    }
  }

  .studentimagedropdown {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .stu-img-dpdwn-ct {
      display: flex;
      height: 100%;
      justify-content: space-evenly;
      align-items: center;
      width: 45%;

      .student-img-ct {
        width: rem(45);
        height: 70%;
        border-radius: rem(5000);
        display: flex;
      }
    }

  }
}

.studentAcc {
  grid-area: acc;
}
.studD {
  grid-area: det;
  .studD-heading{
    height: 6%;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    h4{
      color: white;
      font-size: rem(18);
    }
  }
  .studD-content{
    height: 85%;
  }
  .studD-upload{

    height: 10%;
  }
}

.courseinfo {
  grid-area: csinfo;
}

.button {
  grid-area: btn;
  width: 100%;
  display: flex;
  align-items: flex-start;
}