@use '../abstracts/variables.scss' as *;
@use '../base/typography.scss' as *;
@use '../abstracts/functions.scss' as *;
@use '../abstracts/mixins.scss' as *;

nav{
    .icon{
        display: flex;
        justify-content: flex-end;
        padding-right: rem(20);
        align-items: center;
        height: 10% ;
        visibility: hidden;
    }
    .nav-link-ct{
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li{
            list-style: none;
            a{
                display: flex;
                color: white;
                font-size: rem(15);
                height: rem(39);
                padding: 0 rem(44);
                align-items: center;
                img{
                    padding: 0 rem(4);
                }
                &:hover{
                    background-color: $dark;
                }
            }
        }
    }
}